Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1853 585 215 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/ft/tree/v1.1/work/sort/sort.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 14849.313794 15743.974667
cursor 14970.000000
marker 1450.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 33
; marker line index
markerPos 15

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname quick_sort.state
nalias QS_SWAP_RIGHT_GAP2		5'b01000		NULL
nalias QS_RD_VALUE		5'b00010		NULL
nalias QS_NONE_VALID		5'b10010		NULL
nalias QS_SWAP_LEFT_GAP1		5'b01100		NULL
nalias QS_RD_LEFT		5'b01001		NULL
nalias QS_COMPARE_RIGHT		5'b00110		NULL
nalias QS_GET_VALUE		5'b00011		NULL
nalias QS_GET_STACK		5'b10011		NULL
nalias QS_SWAP_LEFT_GAP2		5'b01101		NULL
nalias QS_SWAP_RIGHT_GAP1		5'b00111		NULL
nalias QS_IDLE		5'b00000		NULL
nalias QS_LEFT_VALID		5'b10000		NULL
nalias QS_RD_RIGHT		5'b00100		NULL
nalias QS_INIT		5'b00001		NULL
nalias QS_DONE		5'b10100		NULL
nalias QS_RIGHT_VALID		5'b10001		NULL
nalias QS_GET_LEFT		5'b01010		NULL
nalias QS_GET_RIGHT		5'b00101		NULL
nalias QS_COMPARE_LEFT		5'b01011		NULL
nalias QS_GET_POSITION		5'b01110		NULL
nalias QS_BOTH_VALID		5'b01111		NULL

addGroup "G1"
activeDirFile "" "/home/ft/tree/v1.1/work/sort/sort.fsdb"
addSignal -h 15 /sort_tb/quick_sort_top/quick_sort_core/clk
addSignal -h 15 -holdScope reset_n
addSignal -h 15 -UNSIGNED -HEX -holdScope num[8:0]
addSignal -h 15 -holdScope start
addSignal -h 15 -holdScope done
addSignal -h 15 -holdScope MemWr
addSignal -h 15 -UNSIGNED -HEX -holdScope MemWrAddr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MemWrData[31:0]
addSignal -h 15 -holdScope MemRd
addSignal -h 15 -UNSIGNED -HEX -holdScope MemRdAddr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MemRdData[31:0]
addGroup "G2"
aliasname quick_sort.state
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /sort_tb/quick_sort_top/quick_sort_core/state[4:0]
aliasname quick_sort.state
addSignal -h 15 -UNSIGNED -HEX -holdScope state_next[4:0]
addSignal -h 15 -holdScope empty
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /sort_tb/quick_sort_top/quick_sort_core/cnt0[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cnt1[7:0]
addSignal -h 15 -holdScope get_position
addSignal -h 15 -UNSIGNED -HEX -holdScope position[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope C0[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope C1[7:0]
addSignal -h 15 /BLANK
addSignal -h 15 -UNSIGNED -HEX /sort_tb/quick_sort_top/quick_sort_core/reg_V[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope reg_L[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope reg_R[31:0]
addGroup "G4"
addSignal -h 15 /sort_tb/quick_sort_top/quick_sort_core/sub_left_valid
addSignal -h 15 -holdScope sub_right_valid
addSignal -c ID_PURPLE7 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope sub_left_cnt0[7:0]
addSignal -c ID_PURPLE7 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope sub_left_cnt1[7:0]
addSignal -c ID_YELLOW7 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope sub_right_cnt0[7:0]
addSignal -c ID_YELLOW7 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope sub_right_cnt1[7:0]
addSignal -h 15 /BLANK
addSignal -h 15 /sort_tb/quick_sort_top/quick_sort_core/push
addSignal -h 15 -UNSIGNED -HEX -holdScope push_data[15:0]
addSignal -h 15 -holdScope pop
addSignal -h 15 -holdScope empty
addSignal -h 15 -holdScope valid
addSignal -h 15 -UNSIGNED -HEX -holdScope pop_data[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope stack_cnt0[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope stack_cnt1[7:0]
addGroup "G5"
addSignal -h 15 /sort_tb/quick_sort_top/quick_sort_core/stack_128x16/En
addSignal -h 15 -holdScope Wr
addSignal -h 15 -UNSIGNED -HEX -holdScope Addr[6:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope WrData[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope Data[15:0]
addGroup "G6"
addSignal -h 15 /sort_tb/quick_sort_top/quick_sort_core/stack_128x16/valid
addSignal -h 15 -UNSIGNED -HEX -holdScope pop_data[15:0]
addGroup "G7"
addSignal -h 15 /sort_tb/quick_sort_top/host_rd_mem_d
addSignal -h 15 -UNSIGNED -UDEC -holdScope mem_Data[31:0]
addGroup "G8"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

